* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 62.5%;
}
@media (max-width:1400px) {
    html {
        font-size: 58%;
    }
}
@media (max-width:1200px) {
    html {
        font-size: 50%;
    }
    .header {
        margin: 2rem 0rem;
    }
    
}
@media (max-width:900px) {
    html {
        font-size: 35%;
    }
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem;
}
.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-weight: 600;
}
.header_nav_items {
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.header_logo {
    width: 20rem;
    align-items: center;
    justify-content: center; 
}
.header_nav_item {
    list-style: none;
    font-size: 1.6rem;
}
.header_nav_link {
    text-decoration: none;
    color: black;
}
.header_nav_btn {
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.887);
    padding: 1rem;
    border-radius: 3rem;
    border: none;
}
.hero_heading {
    width: 63rem;
    height: 29.6rem;
    line-height: 1;
    font-size: 6.4rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5rem;
}
.hero_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }
.hero_img {
    height: 29rem;
    margin-right: 5rem;
}
.hero_pg {
    width: 39rem;
    margin-left: 5rem;
    font-size: 1.6rem;
}
.hero_btn {
    display: inline-block;
    background-color:rgba(26, 154, 197, 0.962);
    color: #fff;
    padding: 1rem 8rem;
    margin: 2rem 5rem;
    border-radius: 7px;
    border: none;
}
/* card section */
.hero_card_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}
.hero_card {
    display: flex;
    gap: 2rem;
}
.hero_icon {
    display: block;
    padding: 7px;
    border-radius: 50%;
    background-color: rgba(26, 154, 197, 0.962);
    width: 4rem;
    height: 3.8rem;
}
.hero_card_heading {
    width: 22.6rem;
    font-size: 2.5rem;
    font-weight: 40rem;
}
.hero_card_pg {
    width: 20rem;
    font-weight: 40rem;
    font-size: 1.6rem;
}
.hero_card_last {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    background-color: rgba(26, 154, 197, 0.644);
    padding: 1rem 0;
    border-radius: 5px;
}
.hero_card_heading--last {
    font-weight: 40rem;
    font-size: 2.5rem;
    width: 22.6rem;
    display: inline-block;
}
.hero_card_pg--last {
    font-size: 1.6rem;
    font-weight: 40rem;
    width: 20rem;
    display: inline-block;
}
.hero_footer {
    margin-top: 3.5rem;
    display: block;
    padding: 5px 3rem;
    background-color: rgba(26, 154, 197, 0.56);
    font-size: 1.6rem;
}
.hero_card_last-pg {
    font-size: 1.6rem;
}
.hero_footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 
/* capstone */